body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    flex-direction: column;
}
.fsec{
    /* background-color: bisque; */
}
.headerh1{
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    /* Располагаем блоки вертикально */
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin-top: 50px;

}

.question,
.answer {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    /* Установим ширину 100% для равных блоков */
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.question {
    background-color: #e0e0e0;
}

.answer {
    background-color: #f0f0f0;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
.section2 {
    background-color: bisque;
    padding: 50px;
}
.sec3{

}

.sec4{
    background-color: beige;
}
.sec5{

}
.sec6{
    background-color: azure;
}
.sec8{
    background-color: burlywood;
    padding: 50px;
}
.sec10{
    background-color: lightyellow;
    padding: 50px;
}

